<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyondsoft.mapper.SysNoticeUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.beyondsoft.entity.SysNoticeUser">
        <id column="id" property="id" />
        <result column="notice_id" property="noticeId" />
        <result column="notice_to" property="noticeTo" />
        <result column="notice_status" property="noticeStatus" />
        <result column="read_time" property="readTime" />
    </resultMap>

</mapper>
